@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@100..900&display=swap');

body{
    font-family: "Georgia";
    color: #545454;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}


.footer {
    background: url('../img/footer-gradient-background.png');
    margin: 0 auto;
    background-size: cover;

}
